<div class="container">
  <div class="page-header">
    <h3 class="inlined my-heading margin-right"><%= @topic.title %></h3>
    <small>written by <%= link_to @topic.user.username, user_path(@topic.user) %></small>

    <div class="pull-right" style="margin-top: 20px;">
      <%= link_to fa_icon('star', 'aria-hidden' => true, text: ' Back to Bookmarks'), topics_path, class: 'btn-sm btn-primary' %>
      <% if current_user %>
        <%= link_to fa_icon('plus', 'aria-hidden' => true, text: 'Add New Bookmark'), new_topic_bookmark_path(@topic), class: 'btn-sm btn-success', remote: true, data: {toggle: 'modal', target: '#bookmark-new'} %>
      <% end %>
    </div>
  </div>

  <%= render 'bookmarks/list', { bookmarks: @topic.bookmarks.by_likes } %>
</div> <!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="bookmark-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Bookmark</h4>
      </div>
      <div class="modal-body">
        <div id="bookmark-new-form"></div>
      </div>
    </div>
  </div>
</div>

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
