<div id="main-bg" class="jumbotron text-center">

  <p>Bookmarker is a social bookmarking app.</p>

  <div class="row margin-none text-center features space">
    <div class="col-sm-4">
      <h4><i class="fa fa-check-square-o" aria-hidden="true"></i> Fast & Easy</h4>
      <p>Add URLs in website or add URLs via email.</p>
    </div>
    <div class="col-sm-4">
      <h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Socializing</h4>
      <p>Share own bookmarks URLs and check out others. And "Like" them.</p>
    </div>
    <div class="col-sm-4">
      <h4><i class="fa fa-list-ul" aria-hidden="true"></i> Organized</h4>
      <p>User maintains a personal index of categorized bookmarks.</p>
    </div>
  </div>

  <a href="https://github.com/ghbooth12/bookmarker" target="_blank" class="btn btn-info"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
  <%= link_to "Sign in as test user", auto_sign_path, class: 'btn btn-success' %>
  <a id="target-element" class="btn btn-primary" href="/topics" role="button">See All Bookmarks</a>
</div>

<div id="steps" class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h2><strong>How it works</strong></h2>
        <p>Log-in as test user account, take a look how it works.</p>
      </div>

      <div class="panel-body">
        <div class="well">
          <ol class="hover-link">
            <li>
              Log in as test user automatically. <%= link_to "Click here", auto_sign_path, class: 'btn btn-xs btn-success' %>
            </li>
            <li>
              <%= link_to topics_path, target: '_blank' do %>
                Go to all bookmarks page. <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
              <% end %>
            </li>
            <li>
              Click <span class="lead">&hearts;</span> to vote up.
            </li>
            <li>
              <%= link_to user_path(@test_user), target: '_blank' do %>
                URLs that user registered and saved are listed here. <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
              <% end %>
            </li>
            <li>
              Register URLs on the website or via email.
            </li>
            <li>
              <%= link_to topic_path(1), target: '_blank' do %>
                Hover over the url detail panel to link to SNS. <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
              <% end %>
            </li>
          </ol>
        </div>
      </div>
    </div>

  </div>
</div>